<html>

<head>
  <title> Sala inexistente </title>
  <script>
    confirm("Ops! Essa sala não existe, verifique o número da sala e tente novamente.")
    window.location.replace(`/`)
  </script>
</head>

</html>